body{
    // background-color: rgb(86, 86, 229);
    background: linear-gradient(0.20turn, rgb(86, 86, 229), rgb(121, 121, 217), rgb(86, 86, 229));
    color: antiquewhite;
    header{
        h1{
            text-align: center;
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width:600px){
    body{
        header{
            h1{
                font-size: 2.5em;
            }
        }
    }
}

@media only screen and (min-width:1024px){
    body{
        header{
            h1{
                font-size: 4em;
            }
        }
    }
}