body{
    main{
        #answer-api{
            padding: 0em 5%;
            .daily-average{
                margin: 3em 0;
                text-align: center;
                .description-image {
                    width: 50px; // Ajustez la taille selon vos besoins
                    height: 50px;
                    background-size: cover; // Ajustez le style de fond pour le dimensionnement de l'image
                    margin-right: 10px; // Espace entre l'image et d'autres éléments
                  }
            }
        }
    }
}

@media only screen and (min-width:600px){
    body{
        main{
            #answer-api{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: 1.1em;
            }
        }
    }
}

@media only screen and (min-width:1024px){
    body{
        main{
            #answer-api{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font-size: 1.2em;
            }
        }
    }
}