body{
    main{
        #answer-api{
            padding: 0em 5%;
            // .daily-average:first-child{
            //     background: none;
            //     border: none;
            //     outline: none;
            //     font-size: 1.5em;
            //     .description-image {
            //         width: 100px;
            //         height: 100px;
            //         background-size: cover;
            //         margin-right: 10px;
            //         line-height: 1em;
            //     }
            // }
            .daily-average{
                margin: 3em 20%;
                text-align: center;
                border: 3px solid antiquewhite;
                outline: outset;
                border-radius: 25px;
                background: linear-gradient(0.20turn, rgb(86, 86, 229), rgb(121, 121, 217), rgb(86, 86, 229));
                .description-image {
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    margin-right: 10px;
                  }
            }
        }
    }
}

@media only screen and (min-width:600px){
    body{
        main{
            #answer-api{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                font-size: 1.1em;
            }
        }
    }
}

@media only screen and (min-width:1024px){
    body{
        main{
            #answer-api{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                font-size: 1.2em;
            }
        }
    }
}